<h1>Hunting#index</h1>
<p>Find me in app/views/hunting/index.html.erb</p>

<form>


  <%= recaptcha_tags %>
  <div class="g-recaptcha" data-sitekey="6Ld3cjAUAAAAACk05H8UibjKcg3FxrH6tf91I-mX"></div>
</form>
