
<div class="row">
  <div class="col-md-6 description">
    The Baywing Database is a global registry for captive Harris's Hawks. Toby Bradshaw created Baywing DB in April of 1999 and curated it for the first 16 years of its existence. Jennifer Coulson became the curator in November of 2015. Falconers and breeders around the world are invited to register their Harris's Hawks. Registration is free, and the database is available to all.

  </div>




</div>
